.rgfr-registerFormBtn-wrapper{
  .rgfr-register-loader-wrapper{
    .rgfr-signupBtn.grow {
      &:hover {
        transform: scale(1.1);
      }
    }
    .rgfr-signupBtn.shrink {
      &:hover {
        transform: scale(0.9);
      }
    }
    .rgfr-signupBtn.pulse {
      &:hover {
        animation: pulse infinite linear 1s;
      }
    }
    @keyframes pulse {
      25% {
        transform: scale(1.1);
      }
      75% {
        transform: scale(0.9);
      }
    }
    .rgfr-signupBtn.pulsegrow {
      &:hover {
        animation: pulsegrow infinite linear alternate 0.3s;
      }
    }
    @keyframes pulsegrow {
      100% {
        transform: scale(1.1);
      }
    }
    .rgfr-signupBtn.pulseshrink {
      &:hover {
        animation: pulseshrink infinite linear alternate 0.3s;
      }
    }
    @keyframes pulseshrink {
      100% {
        transform: scale(0.9);
      }
    }
    .rgfr-signupBtn.push {
      &:hover {
        animation: push linear alternate 0.3s 1;
      }
    }
    @keyframes push {
      25% {
        transform: scale(0.9);
      }
      75% {
        transform: scale(1);
      }
    }
    .rgfr-signupBtn.pop {
      &:hover {
        animation-name: pop;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: alternate;
      }
    }
    @keyframes pop {
      25% {
        transform: scale(1.1);
      }
      75% {
        transform: scale(1);
      }
    }
    .rgfr-signupBtn.bouncein {
      &:hover {
        transform: scale(1.2);
        animation: bouncein linear alternate 0.5s;
      }
    }
    @keyframes bouncein {
      0% {
        transform: scale(1);
      }
    
      25% {
        transform: scale(1.1);
      }
    
      50% {
        transform: scale(1.2);
      }
      75% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1.2);
      }
    }
    .rgfr-signupBtn.bounceout {
      &:hover {
        transform: scale(0.8);
        animation: bounceout linear alternate 0.5s;
      }
    }
    @keyframes bounceout {
      0% {
        transform: scale(1);
      }
    
      25% {
        transform: scale(0.9);
      }
    
      50% {
        transform: scale(0.8);
      }
      75% {
        transform: scale(0.9);
      }
      100% {
        transform: scale(0.8);
      }
    }
    .rgfr-signupBtn.rotate {
      &:hover {
        transform: rotate(4deg);
        transition: rotate 0.2s ease-in-out;
      }
    }
    .rgfr-signupBtn.growrotate {
      &:hover {
        transform: rotate(4deg) scale(1.1);
        transition: rotate 0.2s ease-in-out;
      }
    }
    .rgfr-signupBtn.float {
      &:hover {
        transform: translateY(-8px);
      }
    }
    .rgfr-signupBtn.sink {
      &:hover {
        transform: translateY(8px);
      }
    }
    .rgfr-signupBtn.bob {
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-8px);
        animation-name: bob;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-direction: normal, alternate;
      }
    }
    @keyframes bob {
      0% {
        transform: translateY(-8px);
      }
      50% {
        transform: translateY(-4px);
      }
    
      100% {
        transform: translateY(-8px);
      }
    }
    .rgfr-signupBtn.hang {
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(8px);
        animation-name: hang;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-direction: normal, alternate;
      }
    }
    @keyframes hang {
      0% {
        transform: translateY(8px);
      }
      50% {
        transform: translateY(4px);
      }
    
      100% {
        transform: translateY(8px);
      }
    }
    .rgfr-signupBtn.skew {
      &:hover {
        transform: skewX(-10deg);
      }
    }
    .rgfr-signupBtn.skewforward {
      transform-origin: bottom right;
      &:hover {
        transform: skewX(-10deg);
      }
    }
    .rgfr-signupBtn.skewbackward {
      transform-origin: bottom right;
      &:hover {
        transform: skewX(10deg);
      }
    }
    .rgfr-signupBtn.wobblevertical {
      &:hover {
        animation: wobblevertical 1s ease-in-out 1;
      }
    }
    @keyframes wobblevertical {
      16.65% {
        transform: translateY(8px);
      }
    
      33.3% {
        transform: translateY(-6px);
      }
      49.95% {
        transform: translateY(4px);
      }
      66.6% {
        transform: translateY(-2px);
      }
      83.25% {
        transform: translateY(1px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .rgfr-signupBtn.wobblehorizontal {
      &:hover {
        animation: wobblehorizontal 1s ease-in-out 1;
      }
    }
    @keyframes wobblehorizontal {
      16.65% {
        transform: translateX(8px);
      }
      33.3% {
        transform: translateX(-6px);
      }
      49.95% {
        transform: translateX(4px);
      }
      66.6% {
        transform: translateX(-2px);
      }
      83.25% {
        transform: translateX(1px);
      }
      100% {
        transform: translateX(0);
      }
    }
    .rgfr-signupBtn.wobbletobottomright {
      &:hover {
        animation: wobbletobottomright 1s ease-in-out 1;
      }
    }
    @keyframes wobbletobottomright {
      16.65% {
        transform: translate(8px, 8px);
      }
    
      33.3% {
        transform: translate(-6px, -6px);
      }
      49.95% {
        transform: translate(4px, 4px);
      }
      66.6% {
        transform: translate(-2px, -2px);
      }
      83.25% {
        transform: translate(1px, 1px);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    .rgfr-signupBtn.wobbletotopright {
      &:hover {
        animation: wobbletotopright 1s ease-in-out 1;
      }
    }
    @keyframes wobbletotopright {
      16.65% {
        transform: translate(8px, -8px);
      }
      33.3% {
        transform: translate(-6px, 6px);
      }
    
      49.95% {
        transform: translate(4px, -4px);
      }
      66.6% {
        transform: translate(-2px, 2px);
      }
      83.25% {
        transform: translate(1px, -1px);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    .rgfr-signupBtn.wobbletop {
      transform-origin: bottom right;
      &:hover {
        animation: wobbletop 1s ease-in-out 1;
      }
    }
    @keyframes wobbletop {
      16.65% {
        transform: skew(-12deg);
      }
      33.3% {
        transform: skew(10deg);
      }
      49.95% {
        transform: skew(-6deg);
      }
      66.6% {
        transform: skew(4deg);
      }
      83.25% {
        transform: skew(-2deg);
      }
      100% {
        transform: skew(0);
      }
    }
    .rgfr-signupBtn.wobblebottom {
      transform-origin: top right;
      &:hover {
        animation: wobblebottom 1s ease-in-out 1;
      }
    }
    @keyframes wobblebottom {
      16.65% {
        transform: skew(-12deg);
      }
      33.3% {
        transform: skew(10deg);
      }
      49.95% {
        transform: skew(-6deg);
      }
      66.6% {
        transform: skew(4deg);
      }
      83.25% {
        transform: skew(-2deg);
      }
      100% {
        transform: skew(0);
      }
    }
    .rgfr-signupBtn.wobbleskew {
      &:hover {
        animation: wobbleskew 1s ease-in-out 1;
      }
    }
    @keyframes wobbleskew {
      16.65% {
        transform: skew(-12deg);
      }
    
      33.3% {
        transform: skew(10deg);
      }
      49.95% {
        transform: skew(-6deg);
      }
      66.6% {
        transform: skew(4deg);
      }
      83.25% {
        transform: skew(-2deg);
      }
      100% {
        transform: skew(0);
      }
    }
    .rgfr-signupBtn.buzz {
      &:hover {
        animation: buzz 0.15s linear infinite;
      }
    }
    @keyframes buzz {
      50% {
        transform: translateX(3px) rotate(2deg);
      }
    
      100% {
        transform: translateX(-3px) rotate(-2deg);
      }
    }
    .rgfr-signupBtn.buzzout {
      &:hover {
        animation: buzzout 0.75s linear 1;
      }
    }
    @keyframes buzzout {
      10% {
        transform: translateX(3px) rotate(2deg);
      }
    
      20% {
        transform: translateX(-3px) rotate(-2deg);
      }
      30% {
        transform: translateX(3px) rotate(2deg);
      }
      40% {
        transform: translateX(-3px) rotate(-2deg);
      }
      50% {
        transform: translateX(2px) rotate(1deg);
      }
      60% {
        transform: translateX(-2px) rotate(-1deg);
      }
      70% {
        transform: translateX(2px) rotate(1deg);
      }
      80% {
        transform: translateX(-2px) rotate(-1deg);
      }
      90% {
        transform: translateX(1px) rotate(0);
      }
      100% {
        transform: translateX(-1px) rotate(0);
      }
    }
  }
}