$primaryColor: #4527a4;

.controller-width {
  width: 148px;
}

.panelInputFieldAddButton {
  display: flex;
  justify-content: center;
  margin-top: 5px;

  button {
    span {
      margin-top: 5px;
      margin-right: 5px;
    }
  }
}

.width130 {
  width: 130px;
}

.width120 {
  width: 120px;
}

.components-base-control__label {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.4;
  text-transform: none !important;
  display: inline-block;
  margin-bottom: calc(3px) !important;
  padding: 0px;
}

.rgfr-spinnerAlert {
  border-left: 2px solid orangered;
  padding-left: 10px;
}

.block-editor-inner-blocks{
  width: 100%;
}

// .block-editor-block-list__layout:not(.block-list-appender)> :not(.block-list-appender):not(:last-child) {
//   margin-bottom: 30px;
// }